<section>
  <div class="all">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 mx-auto d-block">

          <img class="mx-auto d-block"
            src="https://www.cgfm.mil.co/sites/default/files/styles/cms_bootstrap_12_12/public/blog/images/cogfm-fac-red-flag-2019-26.gif?itok=38-LWW_5 "
            alt="">
          <!-- <img src="../../../assets/images/100FAC.jpg " alt="" style=" width:350px;
                          height:350px;
                          border-radius:200px;"> -->
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="titulo">Fuerza Aerea Colombiana</div>
          <div class="parrafo">
            La Dirección, se ha fortalecido a través de los años y en el 2013, se formalizó la articulación con el
            Sistema Nacional de
            Ciencia, Tecnología e Innovación de Colciencias, los nuevos desafíos han exigido adaptarse a los cambios y
            aprender
            a utilizar las nuevas tecnologías para lograr optimizar la gestión en esta área.
            <br>
            Esta Dirección es la encargada de gestionar y orientar todas las actividades de investigación formativa,
            investigación aplicada,
            desarrollo tecnológico e innovación y transferencia tecnológica en la Fuerza Aerea Colombiana.
            <br>
            También propende por la integración con actores y aliados nacionales o internacionales de la triada
            Universidad, Empresa
            y Estado, para la generación de nuevos conocimientos, desarrollo de productos de I+D+i con valor agregado y
            que
            generen soluciones creativas.
          </div>

        </div>
      </div>
    </div>
  </div>
</section>