<div class="dashboard">
    <div class="dashboard__title">
        <label>{{TITLE}}</label>
    </div>

    <div class="dashboard__sub-title">
        <label>{{SUBTITLE}}</label>
    </div>

    <div class="dashboard__container">
        <div class="dashboard__container--title">
            <label>{{PROJECTS}}</label>
        </div>
        <div class="dashboard__container--table">

            <app-loader *ngIf="isLoading"></app-loader>

            <div *ngIf="!isLoading && projectList.length === 0" class="no-active-projects">
                <div><label>{{NO_PROJECTS}}</label></div>
                <div class="icon-not-found"><span class="material-icons">folder_off</span></div>
            </div>

            <table *ngIf="!isLoading && projectList.length > 0">
                <thead>
                <tr>
                   <td class="table-border-left">{{NAME}}</td>
                   <td>{{CONVOCATORIA}}</td>
                   <td>{{STATUS}}</td>
                   <td>{{DATE}}</td>
                   <td class="table-border-right">{{ACTIONS}}</td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let project of projectList">
                    <td>
                        <div class="dashboard-project-name">
                            <div>
                                <span class="material-icons">text_snippet</span>
                            </div>
                            <div><span>{{project.iniciarProyecto[0].nombreProyecto}}</span></div>
                        </div>
                    </td>
                    <td>{{project.Convocatoria.name}}</td>
                    <td>
                        <div class="project-block" *ngIf="project.ProyectoBloqueado">
                            <label>Bloqueado</label>
                        </div>
                        <div class="project-active" *ngIf="!project.ProyectoBloqueado">
                            <label>Activo</label>
                        </div>
                    </td>
                    <td>{{project.date}}</td>
                    <td class="view-detail-icon">
                        <div *ngIf="!project.ProyectoBloqueado" class="dashboard-actions">
                            <div matTooltipClass="tooltip-white"
                                 matTooltip="Ver Seguimiento"
                                 matTooltipPosition="above"
                                 class="square-icon-default"
                                 (click)="goToDetail(project.iniciarProyecto[0]._id)"
                            >
                                <span class="material-icons">find_in_page</span>
                            </div>
                            <div matTooltipClass="tooltip-white"
                                 matTooltip="Ver PDF"
                                 matTooltipPosition="above"
                                 class="square-red-icon"
                                 (click)="viewPDF(project._id)"
                            >
                                <span class="material-icons">picture_as_pdf</span>
                            </div>
                        </div>
                        <ng-container *ngIf="project.ProyectoBloqueado">
                            <label>Sin acciones</label>
                        </ng-container>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
