<div id="model">
  <section class="all">
    <div class="container">
      <div class="row">

        <div class="col-lg-8 col-md-6 col-xs-12 ">
          <div>
            <div class="titulo">Modelo De Investigación Del Sistema Educativo De La Fuerza Aérea Colombiana</div>

            <div class="parrafo">
              Por la cual se actualiza el "MODELO DE INVESTIGACIÓN DEL SISTEMA EDUCATIVO DE LA FUERZA AÉREA
              COLOMBIANA" (MOINV) FAC 6-05
              (Público), segunda edición.
              <br>
              El comandante de la FUERZA AÉREA COLOMBIANA, en uso de sus facultades legales, le confiere el literal C,
              artículo 26 DECRETO
              No. 1605 DE 1998 "REGLAMENTO DE PUBLICACIONES MILITARES FF.MM".
              <br>
              DESCARGUE EL DOCUMENTO COMPLETO HACIENDO CLIC SOBRE LA IMÁGEN.
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mx-auto d-block">
          <img class="mx-auto d-block"
            src="https://cdn979857.fac.mil.co/sites/default/files/portfolio-images/kfit%2Bf16%20relampago%202.jpg">
        </div>
      </div>
    </div>
  </section>
</div>